.Demo {
    margin: 10px;
    padding: 10px;
    border: 1px solid silver;
}

.Demo__highlight {
    margin: 10px;
    padding: 10px;
    border: 1px dashed silver;
    font-size: 1.5em;
}

.Demo__toggled {
    color: blue;
}
